In [2]:
print("halo")

halo

# Markdown digunakan untuk menulis notes
- bisa google cara tulis markdown
- seperti bikin txt tapi bisa di format

## sub heading

### sub sub heading

1. angka urut
2. dua
3. tiga

tidak di proses

# Python

1. tipe data
2. syntax pemrograman dasar
3. variable

## Integer   
angka bulat, tanpa koma, contohnya 1, 2, 3

In [3]:
1

1

In [5]:
print(1)
print(2)
print(3)

1
2
3

In [6]:
print(4)
print(type(4))

4
<class 'int'>

In [8]:
print(8271563482174635273654)
print(type(8271563482174635273654))

8271563482174635273654
<class 'int'>

## Float   
angka tidak bulat, punya koma, contoh 2.5, 10.3, 17.435

In [9]:
print(2.5)
print(10.3)
print(17.435)

print(type(17.435))

2.5
10.3
17.435
<class 'float'>

## String   
kumpulan karakter, apapun, termasuk angka alfabet simbol spasi dan lainnya. Harus ditutup kutip.
- kutip satu '
- kutip dua "

In [13]:
print('halo')
print("halo juga")
print(type('hello'))
print(type(""))

halo
halo juga
<class 'str'>
<class 'str'>

In [17]:
print("Toys 'R ' Us")
print('Toys \'R \' Us')

Toys 'R ' Us
Toys 'R ' Us

# Boolean
True atau False, tipe data spesial yang hanya menyimpan dua value saja

In [18]:
print(True, False)
print(type(True), type(False))

True False
<class 'bool'> <class 'bool'>

### Convert tipe data
- int -> float
- int -> str
- int -> bool
- float -> int
- float -> str
- float -> bool
.
.
.

In [23]:
# contoh, ubah jadi integer
print(type(int(2.5)), int(2.5))

# ubah jadi string
print(type(str(2.5)), str(2.5))

# ubah jadi boolean
print(type(bool(2.5)), bool(2.5))

# tidak di ubah
print(type(2.5), 2.5)

<class 'int'> 2
<class 'str'> 2.5
<class 'bool'> True
<class 'float'> 2.5

Konsep Truthy dan Falsy   

yang kosong biasanya dianggap False oleh python, seperti string kosong "" atau '', angka 0, 0.0, None, dan nantinya di tipe data lainnya yang isinya kosong semua dianggap False.   

Selain itu, dianggap True

In [25]:
int("123")

123

# Variable
seperti memberi nama ke data   
data kita sejauh ini tidak punya nama, tidak bisa dipanggil. Dengan membuat variable, kemudian kita simpan datanya ke variable "assign" atau "assign variable", nanti kita bisa panggil variablenya untuk dapat datanya lagi.

In [26]:
nama = "Toys 'R ' Us"

In [28]:
print(nama)

Toys 'R ' Us

In [32]:
angka = 8

In [33]:
print(8)

8

In [34]:
print(angka)

8

In [35]:
print(angka + 7)

15

In [40]:
# variable ini belum ada isinya, kita kasih None
toko = None

In [42]:
# variable bisa kita ganti isinya, "re-assign"
toko = "toko kue kering"

In [43]:
print(toko)

toko kue kering

In [44]:
toko =123

In [45]:
print(toko)

123

## Peraturan Variable
1. tidak boleh dimulai dengan angka
2. saat memberi nama, gunakan snake_case:
    - huruf kecil semua, 
    - spasi digantikan _

In [46]:
rumah_andi = "surabaya"

## Manipulasi data dengan Operator dan Expressions Python

1. Manipulasi angka dengan operator Matematika

In [54]:
# Manipulasi angka dengan operator Matematika
a = 10
b = 7

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)  # modulo
print(a ** b) # pangkat

17
3
70
1.4285714285714286
3
10000000

In [55]:
a + b - 10 * 3 / 5

11.0

2. Manipulasi angka dengan operator Pembanding (Comparison)

In [51]:
a = 10
b = 10

# apakah a sama atau beda dengan b?
print(a == b)
print(a != b)

# apakah a lebih besar/ lebih kecil dengan b?
print(a > b)
print(a < b)

# apakah a lebih besar/ lebih kecil dengan b?
print(a >= b)
print(a <= b)

True
False
False
False
True
True

3. Manipulasi string dengan operator Matematika

In [56]:
a = "Andi"

print(a + " bilang halo")
print(a * 3)

Andi bilang halo
AndiAndiAndi

In [57]:
a + " bilang halo ke " + a

'Andi bilang halo ke Andi'

4. Manipulasi string dengan operator in

In [59]:
print("A" in "Andi")

True

In [60]:
a = "Andi"
print("B" in a)

False

5. Operator khusus String untuk ubah case
- upper
- lower
- swapcase
- title
- capitalize

In [132]:
a = "Saya suka belajar Python di Hacktiv8"
print(a)

Saya suka belajar Python di Hacktiv8

In [66]:
print(a.upper())
print(a.lower())
print(a.swapcase())
print(a.title())
print(a.capitalize())

SAYA SUKA BELAJAR PYTHON DI HACKTIV8
saya suka belajar python di hacktiv8
sAYA SUKA BELAJAR pYTHON DI hACKTIV8
Saya Suka Belajar Python Di Hacktiv8
Saya suka belajar python di hacktiv8

### cek panjang string nya berapa

In [133]:
print(len(a))

36

# List
tipe data yang ada banyak data di satu tempat

CRUD - Create Read Update Delete
- bikin Create
- baca Read
- ubah Update
- hapus Delete

In [67]:
# bikin list pakai kurung kotak
kelas = []

In [68]:
# dalam list bisa ada banyak data berbeda, dipisah dengan ,
kelas = [ "iman", "ammar", "zahrah", "dwi", "ana", "mudz", "zekro"]

In [69]:
print(kelas)

['iman', 'ammar', 'zahrah', 'dwi', 'ana', 'mudz', 'zekro']

In [71]:
# coba ambil murid kedua di kelas
# ambil index ke 1
print(kelas[1])

ammar

In [74]:
# nambah "Ryan" ke kelas
kelas.append("Ryan")

In [75]:
print(kelas)

['iman', 'ammar', 'zahrah', 'dwi', 'ana', 'mudz', 'zekro', 'Ryan']

In [76]:
# hapus mudz
kelas.remove("mudz")

In [77]:
print(kelas)

['iman', 'ammar', 'zahrah', 'dwi', 'ana', 'zekro', 'Ryan']

In [78]:
kelas.append("mudzs")
print(kelas)

['iman', 'ammar', 'zahrah', 'dwi', 'ana', 'zekro', 'Ryan', 'mudzs']

In [80]:
# ubah ana menjadi huruf besar
# murid ke 5
# index ke 4
kelas[4] = kelas[4].upper()
print(kelas)

['iman', 'ammar', 'zahrah', 'dwi', 'ANA', 'zekro', 'Ryan', 'mudzs']

tambahan:
- isi List bisa tipe data apapun, campur juga boleh
- index tidak harus positif 0,1,2,3,... bisa juga hitung mundur dari kanan ke kiri -1 -2 ...
- teknik slicing, ambil beberapa item sekaligus
- bisa dimanipulasi dengan operator matematika tambah dan kali seperti string

In [81]:
random_list = [123, 4.6, "a", True, None, ["a", "n", "d"], 0]
print(random_list)

[123, 4.6, 'a', True, None, ['a', 'n', 'd'], 0]

In [84]:
# ambil murid terakhir
print(kelas[-1])
print(kelas)

mudzs
['iman', 'ammar', 'zahrah', 'dwi', 'ANA', 'zekro', 'Ryan', 'mudzs']

### "slicing" sebuah list, ambil beberapa item sekaligus

In [83]:
# ambil murid ke3 dan ke4
# index ke2 dan ke3
print(kelas[2:4])

['zahrah', 'dwi']

In [85]:
# ambil murid ke2 sampai terakhir
# index ke1
print(kelas[1:])

['ammar', 'zahrah', 'dwi', 'ANA', 'zekro', 'Ryan', 'mudzs']

In [87]:
# ambil murid pertama sampai ke2 terakhir
# index ke0 sampai index ke-2
print(kelas[:-1])

['iman', 'ammar', 'zahrah', 'dwi', 'ANA', 'zekro', 'Ryan']

In [117]:
fruits = [
    "apple", 
    "banana", 
    "coconut", 
    "durian"
]
# ambil apple sampe coconut
# index 0 apple, index 2 coconut
print(fruits[0:3])

# print(fruits[10]) # akan kena error index out of range

['apple', 'banana', 'coconut']

### cek panjang list nya berapa

In [130]:
print(len(kelas))

8

### dimanipulasi dengan operator matematika tambah dan kali seperti string

In [89]:
print(kelas)

['iman', 'ammar', 'zahrah', 'dwi', 'ANA', 'zekro', 'Ryan', 'mudzs']

In [92]:
print(kelas + ["Kevin", "John"]) # ini ditambah belum di save, belum di assign ke variable

['iman', 'ammar', 'zahrah', 'dwi', 'ANA', 'zekro', 'Ryan', 'mudzs', 'Kevin', 'John']

In [94]:
print(["apel"] * 3 + ["jeruk"])

['apel', 'apel', 'apel', 'jeruk']

In [96]:
print(kelas)

['iman', 'ammar', 'zahrah', 'dwi', 'ANA', 'zekro', 'Ryan', 'mudzs']

### operator in juga bisa

In [100]:
print("Kevin" in kelas)

False

In [101]:
print("dwi" in kelas)

True

In [102]:
print("Dwi" in kelas)

False

bacaan lanjut untuk coba coba list: https://www.w3schools.com/python/python_lists.asp

## Tuple
mirip list, tapi isi nya tidak boleh diubah

In [103]:
# membuat tuple dengan ()
nilai = ()
print(type(nilai))

<class 'tuple'>

In [106]:
nilai = (60,50,70)
print(nilai)

(60, 50, 70)

In [107]:
# akses nilai pertama
# index 0
print(nilai[0])

60

# Dictionary
seperti membuat list yang index nya kita custom sendiri.   
seperti membuat objek dan mendeskripsikan ke komputer, misalnya orang itu apa sih, orang itu punya nama, namanya apa? dst dst   

setiap item yang ada di dalam dictionary adalah sepasang index: value

In [113]:
# bikin dictionary
orang = {}
print(type(orang))

<class 'dict'>

In [118]:
orang = {
    "nama": "Andhika", 
    "umur": 20,
    "hobi": ["makan", "tidur", "programming"]
}
print(orang)

{'nama': 'Andhika', 'umur': 20, 'hobi': ['makan', 'tidur', 'programming']}

In [119]:
# baca dictionary
# ambil nama orang
print(orang["nama"])

Andhika

In [120]:
# ambil umur
print(orang["umur"])

20

In [121]:
# ambil hobi
print(orang["hobi"])

['makan', 'tidur', 'programming']

In [122]:
# ambil hobi terakhir
print(orang["hobi"][-1])

programming

In [123]:
# edit dictionary
# ubah namanya jadi ada nama belakang Widjaja
orang["nama"] = orang["nama"] + " Widjaja"
print(orang)

{'nama': 'Andhika Widjaja', 'umur': 20, 'hobi': ['makan', 'tidur', 'programming']}

In [124]:
# ubah namanya jadi Andi
orang["nama"] = "Andi"
print(orang)

{'nama': 'Andi', 'umur': 20, 'hobi': ['makan', 'tidur', 'programming']}

In [125]:
# nambahin hobinya, sekarang dia juga hobi sepeda
orang["hobi"].append("sepeda")
print(orang)

{'nama': 'Andi', 'umur': 20, 'hobi': ['makan', 'tidur', 'programming', 'sepeda']}

In [129]:
# fungsi milik dictionary

# dictionary ini ada keys apa saja? indexnya apa saja?
print(orang.keys())

# dictionary ini ada values apa saja?
print(orang.values())

# dictionary ini items nya apa saja? setiap item adalah separang key dan value
print(orang.items())

dict_keys(['nama', 'umur', 'hobi'])
dict_values(['Andi', 20, ['makan', 'tidur', 'programming', 'sepeda']])
dict_items([('nama', 'Andi'), ('umur', 20), ('hobi', ['makan', 'tidur', 'programming', 'sepeda'])])

In [134]:
[
    ('nama', 'Andi'), 
    ('umur', 20), 
    ('hobi', ['makan', 'tidur', 'programming', 'sepeda'])
]

[('nama', 'Andi'),
 ('umur', 20),
 ('hobi', ['makan', 'tidur', 'programming', 'sepeda'])]

### Membuat Dictionary dengan memasukkan item satu per satu

In [135]:
orang = {}
print(orang)

{}

In [136]:
orang["nama"] = "Budi"
print(orang)

{'nama': 'Budi'}

In [138]:
orang["umur"] = 25
print(orang)

{'nama': 'Budi', 'umur': 25}

In [139]:
orang["berkacamata"] = False
orang["menikah"] = True
orang["hobi"] = ["membaca", "menulis"]
print(orang)

{'nama': 'Budi', 'umur': 25, 'berkacamata': False, 'menikah': True, 'hobi': ['membaca', 'menulis']}

In [ ]:
{'nama': 'Budi',
 'umur': 25,
 'berkacamata': False,
 'menikah': True,
 'hobi': ['membaca', 'menulis']
}

In [140]:
anak = { 'nama': 'Cynthia','umur': 2,}

In [141]:
orang["anak"] = anak

In [142]:
print(orang)

{'nama': 'Budi', 'umur': 25, 'berkacamata': False, 'menikah': True, 'hobi': ['membaca', 'menulis'], 'anak': {'nama': 'Cynthia', 'umur': 2}}

In [143]:
orang["anak"]["nama"]

'Cynthia'